/*General Styles*/
* {
    direction: rtl;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.3;
    color: blue;
}

li {
    list-style: none;
}

.noneDisplay{
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
}

.clear {
    clear: both;
}

/*Navigation bar*/
.nav {
    background-color : #cebaba;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

.main, .filters {
    float: left;
}



